*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-items{
    color:#344563;
}

ul{
    list-style: none;
}
.fa-brands {
    height: 40px;
    margin-left: 10px;
    color: #505f79;
  }
  
  .fab {
    color: #505f79;
  }